<div class="main-content">
  <div class="card shadow">
    <!-- Encabezado -->
    <div class="card-header">
      <div
        class="d-flex align-items-center justify-content-between flex-wrap gap-2 w-100"
      >
        <!-- Título -->
        <div class="me-3">
          <h2 class="card-title m-0">Gestión de Productos</h2>
        </div>

        <!-- Filtros de búsqueda -->
        <div class="d-flex align-items-center gap-2 flex-wrap">
          <button class="btn-clear" (click)="quitarFiltros()">✕</button>
          <input
            type="text"
            [(ngModel)]="filtroNombre"
            placeholder="Nombre"
            class="filtro-input"
            style="width: 150px"
            (keyup.enter)="buscar()"
          />
          <select
            [(ngModel)]="filtroEstado"
            (ngModelChange)="buscar()"
            class="custom-select"
          >
            <option [ngValue]="null">Todos</option>
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Inactivo</option>
          </select>

          <button (click)="buscar()" class="filtro-boton">Buscar</button>
        </div>

        <!-- Botón de nuevo categoria -->
        <div>
          <button class="new-button" (click)="abrirModalCrear()">
            <span class="icon">+</span> Nuevo Producto
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <app-data-table
        [columns]="columns"
        [data]="data"
        [totalElements]="totalElements"
        [currentPage]="currentPage"
        [pageSize]="pageSize"
        [loading]="loading"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
        (rowAction)="onRowAction($event)"
      >
      </app-data-table>
    </div>
  </div>
</div>

<!-- Modal de creación/edición -->
<app-modal-form #modal [title]="modalTitulo" (onSave)="guardar()">
  <app-modal-producto [producto]="itemSeleccionado" [readonly]="soloLectura">
  </app-modal-producto>
</app-modal-form>

<!-- Modal de confirmación -->
<app-confirm-modal #confirmModal (onConfirm)="eliminar()"></app-confirm-modal>
