<ng-template #modalTemplate let-modal>
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5 class="custom-modal-title">{{ title }}</h5>
      <button class="close-button" aria-label="Cerrar" (click)="modal.dismiss()">×</button>
    </div>

    <div class="custom-modal-body">
      <ng-content></ng-content>
    </div>

    <div class="custom-modal-footer" *ngIf="!hideSave">
      <button class="custom-button secondary" (click)="modal.dismiss()">Cancelar</button>
      <button class="custom-button primary" (click)="onSave.emit()">Guardar</button>
    </div>
  </div>
</ng-template>
