<!-- CONFIRM MODAL -->
<ng-template #confirmTemplate let-modal>
  <div class="modal-background">
    <div class="modal-container">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cancel()">×</button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        <button class="btn" [ngClass]="actionType === 'eliminar' ? 'btn-danger' : 'btn-primary'" (click)="confirm()">
          {{ actionType === 'eliminar' ? 'Eliminar' : 'Confirmar' }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
